/* login starts */
body{
    font-family: 'Cormorant Unicase'; 
}
.loginOverlay{
    width: 380px;height: 540px;
    background-color: #777;
    margin-top: 81px; border-radius: 20px;
}
.loginBg{
    width: 370px;
    height: 525px;
    background-color: lightblue;
    border-radius: 20px;
}
.login{
    width: 350px;
    height: 500px;
    background-color: #f2f2f2;
    
    display: grid;
    grid-template-rows: 1fr 12fr;
}
.loginSec1{
	border-bottom: 2px solid #999;
}
.loginTitle{padding: 35px;}
.loginTitle h2{font-size: 30px; color: navy;}
form{padding: 20px;}
label{
    font-size: 20px;
}
input[type=text],
[type=password] {
    width: 250px;height: 35px;
    font-size: 25px;
    border: none; border: 1px solid #999;border-radius: 10px; 
}
.loginBtn{
    width: 250px;
    height: 45px;
    font-size: 25px;
    color: #f2f2f2; 
    background-color: navy;
    border: 1px solid orange;
    margin-top: 35px;
    cursor: pointer;
}
.rememberMe{
	display: flex;
	text-align: center;
	justify-content: left; 
	align-items: center;
	
	margin-top: 5px;
}
.rememberMe > label {font-size: 16px;}
.registerNow{
    margin-top: 20px;
    color: #999;
    letter-spacing: 1px;
    font-size: 16px;
    
    display: flex;
    text-align: center;
    justify-content: center; 
    align-items: center;
}
.registerNow a{
    color: orange;
    font-weight: 700;
    text-decoration: underline;
}
/* login ends */